{% extends "base.html" %}
{% load static %}

{% block content %}
    
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container col-4">
        <h1>Login de Usuario</h1>
        <form method="post">
            {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Usuario" autocomplete="off">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary mb-3">Login</button>
                </div>
                <div>
                    {% if errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Ups! Algo malio sal..</strong> {{errors}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                </div>
        </form>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}