{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="border p-4">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_745272-MLU54961770685_042023-O.webp" alt="Imagen del Producto" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="border p-4">
                    <h1 class="mb-4">{{product.name}}</h1>
                    <p class="mb-4">{{product.description}}</p>
                    <p class="mb-2"><strong>Precio:</strong> ${{product.price}}</p>
                    <p class="mb-2"><strong>Disponibilidad:</strong> En stock</p>
                    <p class="mb-2"><strong>Categoría:</strong>{{product.category}}</p>
                    <button class="btn btn-primary">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}