@import url("styleguide.css");

body {
    background-color: var(--celeste) !important;
}

nav {
    background-color: var(--mostaza) !important;
}

.footer {
    background-color: var(--mostaza) !important;
}
